/*
Theme Name:     MTP MDHombre Child Theme
Theme URI:      http://mt-performance.net/
Description:    Child theme for Thesis 185
Author:         MT Performance - Toni Medina
Author URI:     http://tonimedina.me/
Template:       thesis_185
Version:        1.0
*/

a,
#content_area .related-posts a:hover .title,
input[type="button"] {
	cursor: pointer;

	-webkit-transition: background 200ms ease-in-out, color 200ms ease-in-out;
	   -moz-transition: background 200ms ease-in-out, color 200ms ease-in-out;
		-ms-transition: background 200ms ease-in-out, color 200ms ease-in-out;
		 -o-transition: background 200ms ease-in-out, color 200ms ease-in-out;
			transition: background 200ms ease-in-out, color 200ms ease-in-out;
}

/*** Header ***/
#header_area .page {
	background: none;
	height: 187px;
	position: relative;
}

#header { margin: 0 10px; }

#header_area #s {
	border: none;
	height: 20px;
	padding: 0 40px 0 10px;
	position: absolute;
	right: 48px;
	top: 60px;
	width: 200px;
}

#header_area .menu-nav-menu-container { margin-top: 14px; }

#header_area .menu,
#header_area .menu li { position: static; }

#header_area .menu li { margin: 0.714em 0.857em; }

#header_area .menu li a { padding: 0; }

#header_area .menu > li:first-child > a:before {
	content: '';
	content: none;
	padding-right: 0;
}
#header_area .menu > li > a:before {
	content: '·';
	padding-right: 0.857em;
}

#header_area .menu li:first-child a { padding-left: 0; }

#header_area .menu li:last-child a { padding-right: 0; }

#header_area .sub-menu {
	clear: both;
	left: 0;
	margin: 0 22px;
	padding-top: 7px;
	position: absolute;
	width: 976px;
}

#header_area .sub-menu li {
	clear: none;
	display: inline;
	float: left;
	margin: 10px 0.857em 25px;
	width: auto;
}

#header_area .sub-menu li a { display: inline; }

#header_area .sub-menu li a:first-child { padding-left: 0; }

#header_area .sub-menu li a:last-child { padding-right: 0; }

/*** Content ***/
#content_area .page { padding-bottom: 30px; }

#content_area .breadcrumbs {
	padding: 8px 10px 12px;
	text-transform: uppercase;
}

#content_area .teasers_box.top,
#sidebars .sidebar_list { padding-top: 8px; }

/*#content_area .teasers_box {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-bottom: 20px;
	padding-top: 20px;
}*/

#content_area .teasers_box .entry-title { margin-bottom: 10px; }

#content_area .teaser .post_image_link img { margin-bottom: 20px; }

#content_area .teaser .teaser_avatar img {
	margin-right: 10px;
	max-height: 20px;
	max-width: 20px;
}

#content_area .teaser .format_teaser { margin-top: 0; }

#content_area .teaser .st_comments {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	margin: 20px 0;
	padding: 5px 0 7px;
}

#content_area .teaser .st_comments > li {
	display: inline;
	float: left;
}

#content_area .teaser .st_comments > li:last-child { text-align: right; }

#content_area .format_text img { max-width: 100%; }

#content_area .headline_meta { padding-top: 6px; }

#content_area .teaser_avatar img {
	float: left;
	height: 26px;
	margin: -6px 10px 0 0;
	width: 26px;
}

#content_area #archive_intro {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin: 0 20px 32px 10px;
	overflow: hidden;
	padding: 0;
}

#content_area #archive_intro h1 { margin-top: 8px; }

#content_area .related-posts {
	border-top-style: solid;
	border-top-width: 1px;
	margin-bottom: 13px;
	padding-top: 20px;
}

#content_area .related-posts h3 { margin: 0 0 20px; }

#content_area .related-posts ul {
	list-style: none;
	margin: 0 0 13px;
	overflow: hidden;
}

#content_area .related-posts li {
	display: inline;
	float: left;
	margin: 0 14px;
	position: relative;
}

#content_area .related-posts li:first-child { margin-left: 0; }

#content_area .related-posts li:last-child { margin-right: 0; }

#content_area .related-posts img {
	max-height: 140px;
	max-width: 140px;
	min-height: 140px;
	min-width: 140px;
	height: 140px;
	width: 140px;
}
#content_area .related-posts .title {
	bottom: 20px;
	left: 0;
	padding: 3px 10px;
	position: absolute;
	right: 0;
}

#content_area .post-tags {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin-bottom: 20px;
}
#content_area .post-tags h3 { margin-bottom: 0; }

#content_area .prev_next {
	clear: both;
	padding: 0;
	overflow: hidden;
}

#content_area .prev_next p {
	display: inline;
	float: left;
	text-align: right;
	padding: 0 0 0 20px;
	width: 50%;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

#content_area .prev_next p a { display: block; }

#content_area .prev_next .previous {
	padding: 0 20px 0 0;
	text-align: left;
}

/*** Sidebar ***/
#sidebars .sidebar_list > li {
	border-top-style: solid;
	border-top-width: 4px;
	margin-bottom: 40px;
	padding-top: 20px;
}

#sidebars .widget_recent_entries ul {
	padding: 20px 20px 0;
	overflow: hidden;
}

#sidebars .widget_recent_entries ul li {
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

#sidebars .widget_recent_entries ul li:last-child { border-bottom: none; }

#sidebars .tagcloud a {
	display: inline-block;
	text-decoration: none;
	margin: 0 2px 6px 0;
	padding: 1px 5px;
}

/*** Footer ***/
#footer_area .page { padding-top: 20px; }

#footer_area .footer-widget-block {
	clear: both;
	overflow: hidden;
}

#footer_area .one .sidebar,
#footer_area .two .sidebar,
#footer_area .three .sidebar,
#footer_area .four .sidebar,
#footer_area .five .sidebar {
	display: inline;
	float: left;
}

#footer_area .one .sidebar { width: 100%; }
#footer_area .two .sidebar { width: 50%; }
#footer_area .three .sidebar { width: 33%; }
#footer_area .four .sidebar { width: 25%; }
#footer_area .five .sidebar { width: 20%; }

#footer_area .my-footer-top {
	padding: 0 10px;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

#footer_area .widget,
#footer_area .widget ul li { margin-bottom: 0; }

#footer_area .sidebar_list {
	margin-bottom: 20px;
	padding: 0;
}

#footer { text-align: left; }

/*** Grid ***/
#header,
#footer { padding: 0; }

.post_box { padding: 0; }

.post_box,
.teasers_box,
.full_width #content_box .page { margin: 0 20px 0 10px; }

.teaser,
.teaser_right { overflow: hidden; }

.teaser,
.teaser_right,
#sidebars .sidebar ul.sidebar_list { width: 300px; }

#sidebars .sidebar ul.sidebar_list {
	margin: 0 20px 0 16px;
	overflow: hidden;
	padding: 8px 0 0;
}

/*** Author Page ***/
.author #content_area #archive_intro .user_avatar,
.author #archive_intro .user_contact_info {
	display: inline;
	float: left;
	position: relative;
}

.author #content_area #archive_intro .user_avatar {
	margin: 0 20px 20px 0;
	width: 150px;
}

.author #content_area #archive_intro img {
	float: left;
	margin: 0;
}

.author #content_area #archive_intro h1 { margin: 0; }

.author #content_area #archive_intro h4 { margin: 0; }

.author #content_area #archive_intro p { margin-bottom: 20px; }

.author #content_area #archive_intro ul {
	list-style: none;
	margin: 0 0 20px;
}

.author #content_area #archive_intro .user_description {
	clear: both;
	display: block;
	overflow: hidden;
}

/*** Thesis ***/
.teaser .teaser_author a,
.teaser a.teaser_comments,
.teaser a.teaser_category,
.teaser .edit_post a { border-bottom: none; }

.format_text .wp-caption p {
	margin-bottom: 0 !important;
}

/*** WordPress ***/
.wp-caption {
	background: none;
	border: none;
	padding: 0 !important;
}

.wp-caption.aligncenter { margin: 0 auto 20px; }
.wp-caption.alignleft { margin: 0 20px 20px 0; }
.wp-caption.alignnone { margin-bottom: 20px; }
.wp-caption.alignright { margin: 0 0 20px 20px; }

/*** Comments ***/
#comments p { margin: 0 0 20px; }

#comments #respond_intro,
#comments #commentform {
	border: none;
	margin: 0 0 20px;
	padding: 0;
}

#comments input,
#comments textarea,
#comments textarea:hover,
#comments textarea:focus,
#comments input[type="submit"] { border: none; }

#comments input,
#comments textarea { padding: 8px 10px; }

#comments input[type="submit"] { padding: 8px 20px; }

/*** Plugins ***/
.widget_polls-widget { position: relative; }

.wp-polls p {
	margin-bottom: 20px !important;
	text-align: left !important;
}

.wp-polls-ans p {
	display: inline-block;
	margin-bottom: 0 !important;
}

.wp-polls input[type="button"],
.wp-polls a,
.widget_polls-widget ul li a {
	border: none;
	line-height: 1;
	margin: 0 10px 0 0;
	padding: 5px 10px;
}

.widget_polls-widget > ul {
	bottom: -2px;
	overflow: hidden;
	padding-top: 2px;
	position: absolute;
	right: -7px;
}

.widget_polls-widget > ul,
.widget_polls-widget > ul a { height: 24px; }

.wp-polls ul,
.wp-polls li { margin: 0 !important; }

.wp-polls ul { margin-bottom: 20px !important; }

/* TheThe Image Slider */
.thethe_image_slider {
	padding-bottom: 40px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.thethe-image-slider-caption {
	bottom: 40px;
	height: 267px !important;
	left: 340px;
	right: 0;
	top: 0;
	width: 300px;
}

.thethe-image-slider-caption-inner { padding: 20px; }

.thethe-image-slider-thumbnails {
	bottom: 40px;
	left: 340px;
	position: absolute;
	right: 0;
	text-align: center;
}

.thethe-image-slider-thumbnails-thumb {
	height: 22px;
	margin: 0 5px;
	padding: 0;
	width: 22px;

	-webkit-border-radius: 7px;
	   -moz-border-radius: 7px;
		-ms-border-radius: 7px;
		 -o-border-radius: 7px;
			border-radius: 7px;
}

.thethe-image-slider-thumbnails-numbers .thethe-image-slider-thumbnails-thumb {
	display: inline-block;
	float: none;
	position: relative;
}

.thethe-image-slider-thumbnailsbottomright { padding: 10px 5px; }

.thethe-image-slider-caption-text a { text-decoration: none; }

.thethe-image-slider-caption-text a:hover { text-decoration: underline; }

/* NGGallery */
.ngg-albumoverview { overflow: hidden; }

.ngg-album-compact {
	float: left;
	height: 260px;
	max-width: 146px;
	margin: 0 5px 20px;
	position: relative;
	text-align: center;
	width: 146px;
}

.ngg-album-compactbox { margin-bottom: 10px; }

.ngg-album-compact .Link {
	border-style: solid;
	border-width: 1px;
	display: block;
	padding: 9px 0 2px;
	width: 144px;
}

.ngg-album-compact .Link img {
	max-height: 126px;
	max-width: 126px;
	min-height: 126px;
	min-width: 126px;
	height: 126px;
	width: 126px;
}

.ngg-album-compact h4,
.ngg-album-compact p { margin: 0 !important; }

.error404 .categories ul li { 
	display: inline; 
	float: left; 
	margin: 0; 
	width: 50%;
}