/*
File:        custom.css
Description: Custom styles for Thesis
More Info:   http://diythemes.com/thesis/rtfm/custom-css/
*/
 
::-moz-selection { background: #7f7044; color: #fff; text-shadow: none; }
::selection { background: #7f7044; color: #fff; text-shadow: none; }

body,
.teaser .entry-title,
.teaser .teaser_author,
.teaser .teaser_category,
.teaser .teaser_date,
.teaser .teaser_comments,
.teaser .edit_post,
.teaser .teaser_link,
.sidebar,
.headline_area h1,
.headline_area h2,
#archive_intro h1,
.format_text h1,
.format_text h2,
.format_text h3,
.format_text h4,
.format_text h5,
.format_text h6,
.wp-caption,
textarea,
input,
#footer_area .widget ul li a,
#archive_intro p { font-family: 'Questrial', Helvetica Neue, Arial, sans-serif; }

#content_area .teasers_box .teaser_link,
#content_area .prev_next,
#content_area .prev_next a,
.author #content_area #archive_intro p,
.author #content_area #archive_intro ul,
#footer_area p,
.format_text .wp-caption p,
#comments input,
#comments textarea,
#comments textarea:hover,
#comments textarea:focus,
#comments input[type="submit"],
#archive_intro p {
	font-size: 14px;
	letter-spacing: 0;
}

#content_area .format_text p,
#footer_area .my-footer-top p,
#content_area #archive_intro h1,
.author #content_area #archive_intro { line-height: 20px; }

/*** Header ***/
#header_area {
	background: #fff;

	background: -moz-linear-gradient(top, #fff 0%, #fff 200px, #ddd 200px, #fff 220px, #fff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(200px,#fff), color-stop(200px,#ddd), color-stop(220px,#fff), 
		color-stop(100%,#fff));
	background: -webkit-linear-gradient(top, #fff 0%,#fff 200px,#ddd 200px,#fff 220px,#fff 100%);
	background: -o-linear-gradient(top, #fff 0%,#fff 200px,#ddd 200px,#fff 220px,#fff 100%);
	background: -ms-linear-gradient(top, #fff 0%,#fff 200px,#ddd 200px,#fff 220px,#fff 100%);
	background: linear-gradient(to bottom, #fff 0%,#fff 200px,#ddd 200px,#fff 220px,#fff 100%);
}

#header_area .page,
#footer_area .page { background: none; }

#header_area #s {
	background: #d0d2d3;
	color: #fff;
	font: normal 12px /1 'Questrial', Helvetica Neue, Arial, sans-serif;
}

#header_area .menu li a {
	background: none;
	font-weight: bold;
	letter-spacing: 0;
}

#header_area .menu > li:hover > a:before { color: #000; }

#header_area .sub-menu li { background: none; }

#header_area .sub-menu li a {
	color: #bbbdbf;
	font-weight: normal;
}

#header_area .sub-menu li:hover a,
#header_area .sub-menu li.current-menu-item a { color: #58595b !important; }

/*** Content ***/
/*#content_area .teasers_box { border-bottom-color: #e6e7e8; }*/

#content_area .teasers_box .entry-title { text-transform: uppercase; }

#content_area .teasers_box .entry-title a { color: #000; }

#content_area .teasers_box .entry-title a:hover { color: #7f7044; }

#content_area .teasers_box .teaser_author,
#content_area .teasers_box .teaser_author .author a,
#content_area .teasers_box .teaser_date,
#content_area .headline_meta,
#content_area .headline_meta a,
#content_area .published {
	font-style: normal;
	text-transform: none;
}

#content_area .teasers_box .author a { color: #7f7044; }

#content_area .teasers_box .author a:hover,
#content_area .teasers_box .teaser_link:hover,
#content_area .headline_meta a:hover { text-decoration: underline; }

#content_area .teasers_box .teaser_link {
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
}

#content_area .teaser .addthis_toolbox {
	border-bottom-color: #e6e7e8;
	border-top-color: #e6e7e8;
}

#content_area .teaser .teaser_comments {
	font-size: 11px;
	text-decoration: none;
}

#content_area .teaser .teaser_comments:hover { text-decoration: underline; }

#content_area .prev_next a { color: #bbbdbf; }

#content_area .breadcrumbs,
#content_area .breadcrumbs a {
	color: #bbbdbf;
	font-size: 11px;
}

#content_area .breadcrumbs a:hover { text-decoration: underline; }

#content_area #archive_intro { border-bottom-color: #e6e7e8; }

#content_area #archive_intro h1 {
	font-size: 30px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

#content_area .format_text h1 {
	font-size: 22px;
	font-weight: normal;
	text-transform: uppercase;
}

#content_area .format_text h2 {
	font-size: 17px;
	font-weight: normal;
	text-transform: uppercase;
}

#content_area .format_text h3,
#content_area .format_text h4,
#content_area .format_text h5,
#content_area .format_text h6 {
	font-size: 17px;
	font-weight: normal;
	text-transform: none;
}

#content_area .section-title {
	color: #7f7044;
	font-size: 24px !important;
	text-transform: uppercase !important;
}

#content_area .related-posts { border-top-color: #e6e7e8; }

#content_area .related-posts .title {
	background: #333;
	background: rgba(0,0,0,.8);
	color: #fff;
	line-height: 16px;
}

#content_area .related-posts a:hover .title {
	background: #7f7044;
	color: #fff;
}

#content_area .post-tags { border-bottom-color: #e6e7e8; }

#content_area .post-tags a {
	color: #000;
	text-decoration: none;
}

#content_area .post-tags a:hover { color: #7f7044; }

#content_area .headline_area .entry-title {
	font-size: 30px;
	text-transform: uppercase;
}

/*** Sidebar ***/
#sidebars h3 {
	color: #bbbdbf;
	font-weight: bold;
	letter-spacing: 0;
	text-transform: uppercase;
}

#sidebars .sidebar_list > li { border-top-color: #bbbdbf; }

#sidebars .widget_recent_entries ul {
	background: #bbbdbf;
	font-size: 18px;
}

#sidebars .widget_recent_entries ul li { border-bottom-color: #fff; }

#sidebars .widget_recent_entries ul li a { color: #fff; }

#sidebars .tagcloud a {
	background: #bbbdbf;
	color: #fff;
	font-size: 13px !important;
}

#sidebars .tagcloud a:hover {
	background: #58595b;
	color: #fff;
}

/*** Footer ***/
#footer_area {
	background: #fff;

	background: -moz-linear-gradient(top, #ddd 0%, #fff 20px, #fff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ddd), color-stop(20px,#fff), color-stop(100%,#fff));
	background: -webkit-linear-gradient(top, #ddd 0%,#fff 20px,#fff 100%);
	background: -o-linear-gradient(top, #ddd 0%,#fff 20px,#fff 100%);
	background: -ms-linear-gradient(top, #ddd 0%,#fff 20px,#fff 100%);
	background: linear-gradient(to bottom, #ddd 0%,#fff 20px,#fff 100%);
}

#footer_area h3 {
	color: #58595b;
	font: bold 14px Arial, 'Helvetica Neue', Helvetica, sans-serif;
	letter-spacing: 0;
	margin-bottom: 0;
	text-transform: uppercase;
}

#footer_area .my-footer-two,
#footer_area .my-footer-three,
#footer_area .my-footer-four,
#footer_area .my-footer-five {
	border: 1px solid #e6e7e8;
	height: 238px;
	padding: 20px 20px 0;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

#footer_area .my-footer-two { border-right: none; }
#footer_area .my-footer-three,
#footer_area .my-footer-four {
	border-left: none;
	border-right: none;
}
#footer_area .my-footer-five { border-left: none; }

#footer_area .widget ul li a {
	border: none;
	color: #888;
	text-decoration: none;
}

#footer_area .widget ul li a:hover { text-decoration: underline; }

#footer_area .my-footer-one { text-align: center; }

/*** Grid ***/
.format_text p,
.format_text h1,
.format_text h2,
.format_text h3,
.format_text h4,
.format_text h5,
.format_text h6,
.format_text table,
.format_text ol,
.format_text ul,
.sidebar h3,
#archive_intro p { margin: 0 0 20px; }

.format_text li { margin: 0 0 0 20px; }

/*** Widgets ***/
.widget_image {
	border-top: none !important;
	padding-top: 0 !important;
}

/*** Author ***/
.author #content_area #archive_intro h4 { font-size: 16px; }

/*** Thesis ***/
.format_text .wp-caption p {
	color: #bbbdbf;
	font-style: normal;
}

/*** WordPress ***/
.wp-caption { background: none; }

/*** Comments ***/
#comments #respond,
#comments #respond_intro p { color: #bbbdbf; }

#comments #respond_intro p { text-transform: uppercase; }

#comments input,
#comments textarea,
#comments textarea:hover,
#comments textarea:focus {
	background: #e6e7e8;
	color: #58595b;
	font-weight: normal;
}

#comments input[type="submit"] {
	background: #bbbdbf;
	color: #fff;
}

#comments input[type="submit"]:hover { background: #000; }

/*** Plugins ***/
h3.fb { color: #000 !important; }

.wp-polls p { font-size: 18px; }

.wp-polls strong { font-weight: normal; }

.wp-polls input[type="button"],
.wp-polls a,
.widget_polls-widget ul li a {
	background: #bbbdbf;
	color: #fff;
	font-size: 14px;
	text-decoration: none !important;
}

.wp-polls input[type="button"]:hover,
.wp-polls a:hover,
.widget_polls-widget ul li a:hover { background: #58595b; }

.wp-polls input[type="button"] { text-transform: uppercase; }

/* NGGallery */
.ngg-album-compact .Link { border-color: #e6e7e8; }

.ngg-album-compact .Link:hover {
	background: #7f7044;
	border-color: #7f7044;
}

.ngg-album-compact .ngg-album-desc {
	color: #58595b;
	font-size: 14px;
	text-decoration: none;
}

.ngg-album-compact .ngg-album-desc:hover { color: #7f7044; }

.ngg-album-compact p { color: #bbbdbf; }

/*** LMAO CHECK ***/
#content_area .teaser > a > img,
#content_area .teaser .post_image_link img {
	max-height: 226px;
	max-width: 300px;
	min-height: 226px;
	min-width: 300px;
	height: 226px;
	width: 300px;
}

h3.cat-headline {
	font-size: 30px !important;
	text-transform: uppercase !important;
	margin: 20px 10px 0 !important;
}

h3.cat-headline > a { text-decoration: none !important; }

h3.cat-headline > a:hover { color: #000; }

.footer-widgets li a {font-size: 14px !important;}

#footer_area .widget_nav_menu { margin-bottom: 20px; }
ul.st_comments { border-color: #e6e7e8; }
#header { margin: 0 10px 14px !important; }