.thethe_image_slider {
	font-size: 14px;
	padding: 8px 10px 40px 0;
	border-bottom: 1px solid #e6e7e8;
}
.thethe_image_slider_inner{}
.thethe_image_slider ul.thethe-image-slider-slides{}
ul.thethe-image-slider-slides li {}
ul.thethe-image-slider-slides li.show {}
ul.thethe-image-slider-slides li .thethe-image-slider-image{}
.thethe-image-slider-caption {
	bottom: 40px;
	height: 267px !important;
	left: 390px;
	right: 0;
	top: 0;
	width: 250px;
}
	.thethe-image-slider-caption-inner { padding: 20px; }
	.thethe-image-slider-caption-black{}
		.thethe-image-slider-caption-black,
		.thethe-image-slider-caption-black a,
		.thethe-image-slider-caption-black a:link,
		.thethe-image-slider-caption-black a:visited{}
	.thethe-image-slider-caption-white{}
		.thethe-image-slider-caption-white, .thethe-image-slider-caption-white a{}
	.thethe-image-slider-caption-gray{}
		.thethe-image-slider-caption-gray, .thethe-image-slider-caption-gray a{}
.thethe-image-slider-controls{}
	.thethe-image-slider-controls-next{}
	.thethe-image-slider-controls-prev{}
	.thethe-image-slider-controls-pause{}
	.thethe-image-slider-controls .thethe-previous,
	.thethe-image-slider-controls .thethe-pause,
	.thethe-image-slider-controls .thethe-next,
	.thethe-image-slider-controls .thethe-play{}
	.thethe-image-slider-controls .thethe-previous{	}
	.thethe-image-slider-controls .thethe-pause{}
	.thethe-image-slider-controls .thethe-play{}
.thethe-image-slider-thumbnails {
	background: #000;
	bottom: 40px;
	left: 390px;
	position: absolute;
	right: 10px;
	text-align: center;
}
	.thethe-image-slider-thumbnails-thumb {
		background: #404040;
		color: #fff !important;
		height: 19px;
		line-height: 1.538;
		margin: 0 5px;
		padding: 0;
		width: 19px;

		-webkit-border-radius: 7px;
		   -moz-border-radius: 7px;
			-ms-border-radius: 7px;
			 -o-border-radius: 7px;
				border-radius: 7px;
	}
	.thethe-image-slider-thumbnails-thumbnails .thethe-image-slider-thumbnails-thumb{}
	.thethe-image-slider-thumbnails-thumbnails .thethe-image-slider-thumbnails-thumb .thumbnail-img{}
	.thethe-image-slider-thumbnails-thumbnails .thethe-image-slider-thumbnails-currentthumb .thumbnail-img,
	.thethe-image-slider-thumbnails-thumbnails .thethe-image-slider-thumbnails-activated .thumbnail-img{}
	.thethe-image-slider-thumbnails-slidenames .thethe-image-slider-thumbnails-thumb{}
	.thethe-image-slider-thumbnails-numbers .thethe-image-slider-thumbnails-thumb {
		display: inline-block;
		float: none;
		position: relative;
	}
	.thethe-image-slider-thumbnails-numbers .thethe-image-slider-thumbnails-currentthumb,
	.thethe-image-slider-thumbnails-numbers .thethe-image-slider-thumbnails-activated {
		background: #fff;
		color: #404040 !important;
	}
	.thethe-image-slider-thumbnails-slidenames .thethe-image-slider-thumbnails-currentthumb,
	.thethe-image-slider-thumbnails-slidenames .thethe-image-slider-thumbnails-activated{}
	.thethe-image-slider-thumbnails-dots .thethe-image-slider-thumbnails-thumb{}
	.thethe-image-slider-thumbnails-currentthumb, .thethe-image-slider-thumbnails-activated{}
	.thethe-image-slider-thumbnailsbottomright { padding: 10px 5px; }
	.thethe-image-slider-thumbnailsbottomleft{}
	.thethe-image-slider-thumbnailstopright{}
	.thethe-image-slider-thumbnailstopleft{}
	.thethe-image-slider-thumbnailsunder{}
.thethe-image-slider-loader{}
.thethe-image-slider-progress{}

.thethe-image-slider-caption-text h2 { font-size: 28px !important; }
.thethe-image-slider-caption-text a { text-decoration: none; }
.thethe-image-slider-caption-text a:hover { text-decoration: underline; }